@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  color: #333;
  text-decoration: none;
  list-style-type: none;
}
body{
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;

}
button{
  border: 1px solid #ddd;
    background: #eee;
}
button:hover{
  background: #fefefe;
}
textarea{
  margin: auto;
  display: block;
  padding: 5px;
}
table{
  border-collapse: collapse;
}
table td{
  border: 1px solid #ddd;
  padding: 10px;
}

/* listFrame 共通 */
.listFrame{
}
.listFrame > a{
  padding: 10px;
  display: block;
  border: 1px solid #ddd;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
    background: #fff;
}

.listThumb{
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.listThumb img{
  display: block;
  width: 60px;
  height: 60px;
}

.listContent{
  overflow: hidden;
}
.listT{
  font-weight: bold;
  color: #222;
  font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.listP{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* header */
.header{
  margin-bottom: 20px;
}
.header .title{
  text-align: center;
  padding: 15px 0;
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
.headerList{
  max-width: 500px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
}
.headerList > .listFrame{
  width:48%;
  margin-right: 2%;
}





/* contentBlock */
.categoryBar{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow: auto;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff;
}
.categoryBar::-webkit-scrollbar {
  display: none;
}
.categoryBar > ul{
  display: table;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-spacing: 10px 0;
  padding: 5px;
}

.categoryBar > ul li{
  display: table-cell;
  padding: 5px 15px;
  text-align: center;
  height: 40px;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: bold;
  cursor: pointer;
}
.categoryBar > ul li.on{
  color: #fff;
  background: #0069C2;
  border-radius: 5px;
}
.categoryBar > ul li:hover{
  cursor: pointer;
}
.contentList{
  padding: 20px 0;
  background: #eee;
}
.contentList .listFrame{
  width: 80%;
  max-width: 400px;
  margin: 0 auto 10px;
}

/* article_block */
.article_block{
  min-height: 800px
}

/* footer */
.footer{
  font-weight: bold;
  color: #fff;
  background: #666;
  padding: 15px;
  text-align: center;
}





































/* END */
